# Fichiers Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Fichiers système
.DS_Store
.DS_Store?
Thumbs.db
Desktop.ini

# Fichiers spécifiques à Unity
/Assets/Plugins/Editor/*.dll

# Fichiers Visual Studio
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Autres fichiers inutiles
.idea/
*.apk
*.aab
*.ipa

